body {
}
input{
  display: none;
}
header{
  margin-left: 100px;
}

nav {
width: 100%;
//Make Bigger
}


label{
  float: left;
  background-color: #544c6a;
  padding: 10px 70px 10px 70px;
  width: 130px;
  border-radius: 10px;
  border: 1px solid black;
  margin:5px;
  text-align: center;
  color: white;
}
main > input,
section {
  display: none;
  padding: 1em;
  clear: both;
}

.Sections{
  border: 1px solid #efefef;
  background-color: #fffaf0;
  border-radius: 40px;
  position: relative;

}

label:last-child{
  float:right;
}
[id^="tab"]:checked + label {
  color: white;
  background-color: gray;
}

/*Pages fade*/
.fadePages{
  animation-name: fade;
  animation-duration: 1s;
}

/*Dropdown*/
.dropDownContent {
  display: none;
}
.dropDownItem:last-child{
  float:left;
}
.dropDownContainer:hover .dropDownContent{
  display: block;
}
.dropDownContainer:hover{
  background-color: #fffaf0;
}
.devFeatures {
  display: none;
}
.dropDownContainer {
  position: relative;
    max-width:282px;
    height: 150px;
    display: inline-block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Artwork*/
figure {
  width: 200px;
  overflow: hidden;
}

figure img {
  width: 100%;
  height: 300px;
  margin-bottom: -4em;
  display: block;
}


figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  padding: .25em;
  transform: translateY(4em);
  opacity: 0;
  transition: all .5s;
}


figure:hover figcaption {
  transform: translateY(0em);
  opacity: .78;
  background-color: white;
}



/*Slideshow*/

.slides {
	margin-top: 10px;
	display: none;
	height: 450px;
	width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.btnContainer {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  position: relative;
  bottom: 450px;
}
#nextButton {
  float: right;
  width: 100px;
  height: 450px;
}

#pauseButton {
  width: 395px;
  height: 450px;
}
.googleSymbols {
  display:none;
}
#prevButton {
  width: 100px;
  height: 450px;

}
.slideshowButton{
  background-color: transparent;
  color: white;
  border: none;
}
.slideshowButton:active {
	background-color: #efefef;
  opacity: 0.1;
	transition: background-color : 200ms ease-in;
}
/*Slideshow fade*/
.fade {

  animation-name: fade;
  animation-duration: 1.5s;
}



@keyframes fade {
  from {opacity: 0.1}
  to {opacity: 1}
}


/*Artwork*/
.paintings {
  width: 200px;
  height: 300px;
  display: flex;
  Justify-content:center;
  margin-right: 100px;
}
figure{
  margin-left: auto;
  margin-right: auto;
}
.paintings:last-child{
  margin-right: 0px;
}
.container {
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
}

/*Footer styles*/
.footContainer{
  width: 100%;
  height: 160px;
  position: relative;

}
.socialSection{
  float: right;
  position: relative;
  display: block;
  bottom: 165px;
  height: auto;

}
.contactSection {
  /*width: 100%;*/
  display: block;
  float: left;
  height: auto;
}
.socialImg {
  height: 50px;
  width: 50px;
}

.socialImg:hover {
  filter: invert(15%);
}

 a{
  padding: 5px;
  text-decoration: none;
}

/*Media Statements*/
@media screen and (min-width: 1000px) {
  .slides{
    height: 600px;
    width: 800px;
  }
  #prevButton {
    height: 30px;

  }
  #nextButton{
    height: 30px;
    float: right;

  }
  #pauseButton {
    height: 30px;
    width: 180px;
    margin-left: 200px;
  }
  .slideshowButton {
    position: relative;
    border: 1px solid black;
    height: auto;
    background-color: #544c6a;
    cursor: pointer;
    color: white;

  }

  .dropDownContainer:hover .dropDownContent{
    display: block;
  }
  .dropDownContainer:hover{
    border: 1px solid black;

  }
p {
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    color: #404040;
}
  .btnContainer {
    width: 800px;
    top: 10px;
    bottom: 600px;
  }
}
