body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
}

input{
  display: none;
}

h1 {
  width: 330px;
  margin-left: 38%;
  font-family: 'Great Vibes', cursive;
  color: #544c6a;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  letter-spacing: .15em;
  animation:
  typing 2s steps(40, end),
  blink 1s infinite;
}
@keyframes typing {
  from { width: 0% }
  to { width: 23%}
}
@keyframes blink {
  0% { border-color: orange }
  50% { border-color: transparent; }
}
.pageHeader {
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
  color: #404040;
  margin:15px;
}

header{margin-left: -70px;}
/*Navbar*/
.navbar {
  margin: 0 auto;

  height: 400px;
  padding: 10px;
  width: 300px;
}


.logo {
  border-radius: 100px;
  margin-left: 43%;
  height: 150px;
  width: 150px;
  animation: sway 3.5s ease-in-out forwards infinite;
  animation-duration: 3s;

}
@keyframes sway{
  0%{transform: rotate(10deg);}
  50%{transform: rotate(-5deg)}
  100%{transform: rotate(10deg);}
}
label{
  float: left;
  background-color: #544c6a;
  padding: 10px 70px 10px 70px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 5px;
  text-align: center;
  color: white;
  margin-right: 5px;
  display: block;
}


.slides{
  width: 600px;
  height: 400px;
}

.navItems{
  z-index: 100;
}


main > input,
section {
  display: none;
  padding: 1em;
}




[id^="tab"]:checked + label {
  color: white;
  background-color: gray;

}

/*Pages fade*/
.fadePages{
  animation-name: fade;
  animation-duration: 1s;
}

/*Dropdown*/
.dropDownContent {
  display: block;
}
.dropDownItem:last-child{
  float:left;
}

.devFeatures {
  display: none;
}

.dropDownContainer {
  position: relative;
  max-width:282px;
  height: 150px;
  display: inline-block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

/*Artwork*/
figure {
  width: 200px;
  overflow: hidden;
}

figure img {
  width: 100%;
  height: 300px;
  margin-bottom: -4em;
  display: block;
}


figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  padding: .25em;
  transform: translateY(4em);
  opacity: 0;
  transition: all .5s;
}


figure {
  transform: translateY(0em);
  opacity: .78;
  background-color: white;
}

.Sections{
  border: 1px solid #efefef;
  background-color: #fffaf0;
  border-radius: 40px;
  position: relative;
  padding-bottom: 50px;
  bottom: 100px;
  box-shadow: 10px 10px 5px #888888;
  width:800px;
  margin: 0 auto;

  margin-top: 10px;
}

/*Slideshow*/

.slides {
  margin-top: 10px;
  display: none;
  height: 450px;
  width: 600px;
  display: block;
  margin: 0 auto;

  border-radius: 5px;
}

.btnContainer {
  width: 600px;
  margin: 0 auto;

  border-radius: 10px;
  position: relative;
}
.nextButton {
  float: right;

}
.pauseButton {
  margin-left: 150px;
}

.googleSymbols {
  /*display:none;*/
  margin: 0 auto;
}

.slideshowButton{
  background-color: #544c6a;
  color: white;
  width: 100px;
  height: 30px;
  border: none;

}

/*Slideshow fade*/
.fade {
  animation-name: fade-in-out;
  animation-duration: 1s;
}

@keyframes fade-in-out {
  from {opacity: 0.1}
  to {opacity: 1}

}
.material-icons{
  color: white;
}

/*Artwork*/

figure {
  width: 200px;
  background: #aaa;
  border: 2px solid #999;
  overflow: hidden;
  margin: 20px;
  padding: 5px;
  margin: 0 auto;

}


.container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;

  width: 80%;

}

figure img {
  width: 100%;
  height: 300px;
  background: #eee;
  margin-bottom: -4em;

}


figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  padding: .25em;
  transform: translateY(4em);
  background: #fff;
  opacity: 0;
  transition: all .5s;
}

figure:hover figcaption {
  transform: translateY(0em);
  opacity: .78;
  background-color: #efefef;
}


/*Footer styles*/


.socialSection{
  margin: 0 auto;

}
.fb-like{
  position:relative;
  float: left;
  right:0;
  padding: 0;
  border:none;
  height: 110px;
  width: auto;
}

.socialImg {
  height: 50px;
  width: 50px;
  position: relative;
}

/*About section*/
.portrait {
  float: right;
  margin: 10px;
  height: 350px;
  width:auto;
  border: 1px solid #000000;
  filter: grayscale(100%);
  border-radius: 10px;
}

.wiki{
list-style-type: none;
}
.wiki li {
  padding: 25px;
}

/*Media Statements*/

@media screen and (min-width: 1000px) {

  label:hover{
    cursor:pointer;
  }
  .slides{
    height: 600px;
    width: 800px;
  }
  .prevButton {
  height: 30px;
  }
  .nextButton{
    height: 30px;
    float: right;
  }
  .pauseButton {
    height: 30px;
    width: 180px;
    margin-left: 200px;
  }
  .slideshowButton {
    position: relative;
    border: 1px solid black;
    height: auto;
    background-color: #544c6a;
    cursor: pointer;
    color: white;
  }

  .btnContainer {
    width: 800px;
    top: 10px;
    bottom: 600px;
  }
  .socialImg:hover {
    filter: invert(15%);
  }


}
@media screen and (min-width:1400px){
  .socialSection{
    margin: 0 auto;

}

  .navbar{
    margin: 0 auto;

    width: 850px;
    height: 200px;
    margin-bottom: 10px;
 }
 .dropDownContainer:hover .dropDownContent{
   display: block;

 }
 .dropDownContainer:hover{
   background-color: #fffaf0;
   border: 1px solid #000000;
   border-top: none;
   box-shadow: 7px 7px 5px #888888;

 }
 figure:hover figcaption {
   transform: translateY(0em);
   opacity: .78;
   background-color: white;
 }
  .dropDownContent{
    display: none;
  }

  label:last-child{
    /*float: right;*/
  }
  header{
    margin: 0 auto;

  }
}
