body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
}

input{
  display: none;
}

h1 {
  width: 500px;
  margin-left: 30%;
  font-family: 'Great Vibes', cursive;
  color: #544c6a;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  letter-spacing: .15em;
  animation:
  typing 2s steps(40, end),
  blink 1s infinite;
  font-size: 3em;
}
@keyframes typing {
  from { width: 0% }
  to { width: 400px}
}
@keyframes blink {
  0% { border-color: orange }
  50% { border-color: transparent; }
}
.pageHeader {
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size:5rem;
  color: #404040;
  margin:15px;
}
.printsHeader {
  font-size: 3rem;
}

header{
  margin-left: -70px;
}

/*Navbar*/
.navbar {
  margin-left: 18%;
  height: 400px;
  padding: 10px;
  width: 300px;
}


.logo {
  border-radius: 100px;
  margin-left: 43%;
  height: 150px;
  width: 150px;
  animation: sway 3.5s ease-in-out forwards infinite;
  animation-duration: 3s;

}
@keyframes sway{
  0%{transform: rotate(10deg);}
  50%{transform: rotate(-5deg)}
  100%{transform: rotate(10deg);}
}
label{
  float: left;
  background-color: #544c6a;
  padding: 10px 70px 10px 70px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 5px;
  text-align: center;
  color: white;
  display: block;
  font-size: 1.2rem;
}


.slides{
  width: 600px;
  height: 400px;
}

.navItems{
  z-index: 100;
}


main > input,
section {
  display: none;
  padding: 1em;
}




[id^="tab"]:checked + label {
  color: white;
  background-color: gray;

}

/*Pages fade*/
.fadePages{
  animation-name: fade;
  animation-duration: 1s;
}

/*Dropdown*/
.dropDownContent {
  display: block;

}
.dropDownItem:last-child{
  float:left;
}

.devFeatures {
  display: none;
}
.AboutL{
  position: relative;
  bottom: 50px;
}
.dropDownContainer {
  position: relative;
  max-width:282px;
  height: 150px;
  display: inline-block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.artworkTabL{
  display: none;
}

/*Artwork*/
figure {
  width: 200px;
  overflow: hidden;
}

figure img {
  width: 100%;
  height: 300px;
  margin-bottom: -4em;
  display: block;
}


figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  padding: .25em;
  transform: translateY(4em);
  opacity: 0;
  transition: all .5s;
}


figure {
  transform: translateY(0em);
  opacity: .78;
  background-color: white;
}

.Sections{
  border: 1px solid #efefef;
  background-color: #fffaf0;
  border-radius: 40px;
  position: relative;
  padding-bottom: 50px;
  bottom: 100px;
  box-shadow: 10px 10px 5px #888888;
  width: 90%;
  margin: 0 auto;
  bottom: 170px;
  margin-top: 10px;
}

/*Slideshow*/

.slides {
  margin-top: 10px;
  display: none;
  height: 450px;
  width: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.slideshowButton {
  height: 30px;
  width: 100px;
  background-color: #544c6a;
  cursor: pointer;
  color: white;
  border: none;
  margin: 1vh 5vw;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.googleSymbols {
  margin: 0 auto;
}

@keyframes fade-in-out {
  0% {opacity: 0.1}
  15% {opacity: 1}
  85%{opacity: 1}
  100%{opacity:0.1}

}
.material-icons{
  color: white;
}

/*Artwork*/

figure {
  width: 200px;
  border: 2px solid #efefef;
  overflow: hidden;
  padding: 5px;
}


.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;

}

figure img {
  width: 100%;
  height: 300px;
}


figcaption {
  height: 300px;
  opacity: 1;
  margin-bottom: -130px;
  font-size: 1.8rem;
}


/*Footer styles*/
.socialSection{
  position: relative;
  margin: 0 auto;
  bottom: 100px;
  left: 150px;
}
.fb-like{
  position:relative;
  margin-left: 250px;
  right:0;
  padding: 0;
  border:none;
  height: 110px;
  width: auto;
}
.fbD{
  display: none;
}
.fbM {
  display: inline;
}
footer {
  margin-left: 180px;
}

.footerName{
  margin-left: 250px;
}
.socialImg {
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 50px;
}
.socialLink {
  color: #efefef;
}
/*About section*/
.portrait {
  float: right;
  margin: 10px;
  height: 700px;
  width:auto;
  border: 1px solid #000000;
  filter: grayscale(100%);
  border-radius: 10px;
}
.flickr{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.flickrPics {
  border: 1px solid #efefef;
  padding: 5px;
  margin:5px;
}
select {
  background-color: #544c6a;
  height:65px;
  color: #efefef;
  margin-bottom: 20px;
  font-size: 3rem;
}
.aboutPara {
  font-size: 2.5rem;
}

.inspir {
  margin-left: auto;
  margin-right: auto;
}
/*Wikipedia links*/
.wiki{
list-style-type: none;
}
.wiki li {
  padding: 25px;
}
.wikiText {
  font-size: 2rem;
}
.wikiTitle {
  font-size: 3rem;
}

h4, h5 {
  font-size: 1.4;
}
.socialLinks {
  margin-left: 200px;
}
/*Media Statements*/

@media screen and (min-width: 1000px) {
  h4, h5 {
    font-size: 1;
  }


  select{
    height: auto;
    font-size: 1rem;
  }
  .wikiText {
    font-size: 1rem;
  }
  .wikiTitle {
    font-size: 1rem;
  }
  figcaption {
    font-size: 1rem;
  }
  .pageHeader{
    font-size: 2rem;
  }
  .aboutPara{
    font-size: 1rem;
  }
  .fbD{
    display: inline;
    left: 80px;
  }
  .fbM {
    display: none;
  }
  .socialImg {
    height: 50px;
    width: 50px;
    float:right;
  }
  h1 {
    margin-left: 35%;
  }
  label{
    width: 120px;
    font-size: 1rem;
  }
  .printsHeader {
    font-size: 1rem;
  }
  .portrait {
    height: 400px;
    width: auto;
  }
  label:hover{
    cursor:pointer;
  }
  .slides{
    height: 600px;
    width: 800px;
  }


  .socialImg:hover {
    filter: invert(15%);
  }


  .fb-like{
    float: left;
    margin-left: -230px;
}
  .socialLinks {
    width: 200px;
    float: right;
  }
.footerContainer {
  margin-left: 200px;
}
  .socialImg {
    bottom:0;
  }
  .socialSection{
    left:100px;
    top: 100px;
  }
  .navbar{
    margin: 0 auto;
    width: 850px;
    height: 200px;
    margin-bottom: 10px;
 }
 .artworkTabL{
   display: block;
 }
 .AboutL{
   bottom: 0;
 }
 .dropDownContainer:hover .dropDownContent{
   display: block;
 }
.dropDownContainer {
  z-index: 5;
}
 .dropDownContainer:hover{
   background-color: #fffaf0;
   border: 1px solid #000000;
   border-top: none;
   box-shadow: 7px 7px 5px #888888;

 }
 figure figcaption {
   opacity: 0;
   margin-bottom: 0;
   height:4em;

 }
 figure:hover figcaption {
   transform: translateY(0em);
   opacity: .78;
   background-color: white;
 }
  .dropDownContent{
    display: none;
  }

  .Sections{
    bottom:130px;
  }
  header{
    margin: 0 auto;

  }
}
